<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger kat</title>
    <!-- Side-titel, der vises i browserens fane -->
</head>
<body>

<h1>Rediger kat</h1>
<!-- Overskrift for siden -->

<!-- Formular for redigering af kattedata. Thymeleaf bruges til at binde formularfeltet til det eksisterende katteobjekt. -->
<form action="#" th:action="@{/createCat}" th:object="${cat}" method="post">
    <!-- Skjult felt for katte-ID, som ikke behøver at blive ændret af brugeren -->
    <input type="hidden" th:field="*{catId}" />

    <!-- Inputfelt for kattens race -->
    <label for="race">Race:</label>
    <input type="text" id="race" th:field="*{race}" />

    <!-- Inputfelt for kattens navn -->
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" />

    <!-- Inputfelt for kattens alder  -->
    <label for="age">Age:</label>
    <input type="text" id="age" th:field="*{age}" />

    <!-- Inputfelt for kattens vægt  -->
    <label for="weight">Weight:</label>
    <input type="text" id="weight" th:field="*{weight}" />

    <input type="hidden" th:field="*{owner}" />



    <!-- Submit-knap for at gemme de redigerede oplysninger -->
    <button type="submit">Opdater</button>
</form>

<!-- Link til at vende tilbage til listen over katte -->
<a href="/indexCats">Tilbage til listen</a>

</body>
</html>
